<div class="create-page">
  <div class="form">
    <form>
      <mat-form-field appearance="standard" class="input-100">
        <mat-label>Nome</mat-label>
        <input matInput type="text" placeholder="Fulano Ciclano">
      </mat-form-field>
      <mat-form-field appearance="standard" class="input-100">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="example@gmail.com">
      </mat-form-field>
      <mat-form-field appearance="standard" class="input-100">
        <mat-label>Senha</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <mat-form-field appearance="standard" class="input-100">
        <mat-label>Repitir Senha</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <button>Criar</button>
      <p class="message">Já tem conta? <a href="#">Logar.</a></p>
    </form>
  </div>
</div>
