h2 {
    margin: 10px 0 10px;
}

.card-ingredientes {
    margin-bottom: 5px;
}

.border-tabela { 
    padding: 5px 2px 3px 3px;
    border: solid;
    border-width: thin;
    border-color: rgb(226, 226, 226);
}