.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: inherit;
  top: 70px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: left;
}

.w-100 {
  width: 100%;
}
